.chat {
    height: 100%;
    width: 64%;
    box-shadow: 5px 0px 5px 6px rgba(0, 0, 0, 0.2);

    &__selectChat {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        &-svg {
            margin-bottom: 2rem;
            height: 70%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-text {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 2.5rem;

            h2 {
                margin-top: 1rem;
            }
            p {
                width: 80%;
            }
        }
    }

    &__header {
        display: flex;
        width: 100%;
        height: 6rem;
        align-items: center;
        background-color: darken(white, 3%);
        padding: 0 2rem;
        box-shadow: 10px -3px 4px 4px rgba(0, 0, 0, 0.2);
        font-size: 2rem;

        &__avatar {
            width: 7%;
            img {
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
            }
        }
        &__receptor {
            color: $color-secondary;
            font-size: 2.1rem;
            margin-left: 1rem;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        font-size: 2rem;

        height: calc(100% - 6rem);

        &__messages {
            padding: 2rem 2rem;
            overflow-y: scroll;
            flex: 1;
            display: flex;
            flex-direction: column;
            position: relative;
            // Circle of loading when loading messages
            & .loading {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 20rem;
                height: 20rem;
                &::after {
                    content: "";
                    position: absolute;
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                    border-top: 2px solid rgba(0, 0, 0, 0.2);
                    animation: loading-circle 1s linear infinite;
                }
            }

            &__message {
                &.skeleton {
                    overflow-x: hidden;
                    &::before {
                        content: "";
                        position: absolute;
                        background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.9), transparent);
                        width: 50%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        animation: loadingSkeleton 1s linear infinite;
                    }
                    background-color: #eee !important;
                    color: #eee !important;
                    .chat__body__messages__message__text {
                        width: 40rem;
                    }
                }

                position: relative;
                // display: flex;
                // align-items: center;
                display: inline-block;
                vertical-align: middle;
                max-width: 60%;
                padding: 1rem 1.5rem;
                margin-bottom: 2rem;
                border-radius: 1rem;
                &:last-of-type {
                    margin-bottom: 0;
                }
                div {
                    width: 100%;
                    font-size: 2rem;
                    word-break: break-all;
                }
                span {
                    //time
                    // position: absolute;
                    color: $color-secondary;
                    font-size: 1.5rem;
                    text-transform: lowercase;
                    // top: 50%;
                    // transform: translateY(-50%);
                }
                &.sender {
                    background-color: $color-secondary;
                    color: white;
                    text-align: left;
                    margin-left: auto;
                    span {
                        // right: 130%;
                        // text-align: right;
                        color: lighten($color-secondary, 50%);
                    }
                }
                &.receptor {
                    background-color: $color-primary;
                    color: black;

                    align-self: flex-start;
                    // span {
                    //     left: 130%;
                    // }
                }
            }
        }
        &__send {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: darken(white, 10%);
            width: 100%;
            min-height: 6rem;

            &__containerInput {
                width: 95%;
                padding: 1.5rem;
                max-height: 15rem;
                &__input {
                    color: $color-secondary;
                    min-height: 1rem;
                    max-height: 97px;
                    width: 100%;
                    display: inline-block;
                    align-content: center;
                    outline: none;
                    overflow: hidden;
                }
            }

            i {
                margin-right: 3rem;
            }
        }
    }
}
