.mod {
    width: 100%;
    height: 100%;
    header {
        display: flex;
        width: 100%;
        height: 7rem;
        align-items: center;
        // background-color:lighten($color-secondary, 10%);
        // background-color: lighten($color-primary, 10%);
        // box-shadow: 1px 0.5rem 1rem 1rem rgba(0, 0, 0, 0.1);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        padding: 0 2rem;
        font-size: 2rem;
    }

    &__main {
        width: 100%;
        height: calc(100% - 6rem);
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        
    }
}
