.mod__list {
    padding: 1rem 0.5rem;
    font-size: 2rem;
    flex: 1;
    overflow-y: scroll;
    &__item {
        display: flex;
        align-items: center;
        box-shadow: 0px 1px 3px $color-secondary;
        padding: 0 1.5rem;
        width: 100%;
        height: 10rem;
        margin-bottom: 1.5rem;
        background-color: white;
        justify-content: space-between;
        &__image {
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__info {
            width: calc(100% - 20rem);
            display: flex;
            align-items: center;
            height: 100%;
            // margin-right: 5%;
            .personal {
                display: flex;
                flex-direction: column;
                width: 31rem;
                .name {
                    width: 100%;
                    font-size: 2.3rem;
                    font-weight: bold;
                    color: $color-secondary;
                    margin-bottom: 0.5rem;
                }
            }
            .contact {
                display: flex;
                gap: 2rem;
                .number {
                    // width: 16rem;
                    width: 18rem;
                }
                .email {
                    // width: 29rem;
                    width: 41rem;
                }
                .schedule {
                    // width: 29rem;
                    width: 24rem;
                }

                span {
                    display: flex;
                    align-items: center;
                    font-size: 2.2rem;
                    gap: 1rem;
                    height: 5rem;
                }
            }
            .btn-download {
                background-color: darken(rgba($color-primary, 0.5), 5%);
                border-radius: 2rem;
                padding: 1rem 0.5rem;
                font-size: 1.6rem;
                color: white;
                color: $color-secondary;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 10rem;
                gap: 1rem;
                &:hover {
                    background-color: darken($color-secondary, 10%);
                }
            }
        }

        &__actions {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 10rem;
            gap: 1rem;

            button {
                background-color: darken(white, 14%);
                border-radius: 50%;
                padding: 1rem;
                font-size: 2rem;
                height: 4rem;
                width: 4rem;

                display: flex;
                align-items: center;
                justify-content: center;
            }

            .btn-decline,
            .btn-delete {
                color: rgb(216, 73, 73);
                &:hover {
                    color: darken(white, 6%);
                    background-color: rgb(192, 52, 52);
                }
            }

            .btn-accept {
                color: rgb(96, 199, 96);
                &:hover {
                    color: darken(white, 6%);
                    background-color: rgb(53, 166, 53);
                }
            }
        }

        &__status {
            //Circle of color of status
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            margin-left: auto;

            &.accepted {
                background-color: #a4dd74;
            }
            &.pending {
                background-color: #ff8400;
            }
        }

        &.skeleton {
            position: relative;
            overflow-x: hidden;
            &::before {
                content: "";
                position: absolute;
                background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.9), transparent);
                width: 50%;
                height: 100%;
                top: 0;
                left: 0;
                animation: loadingSkeleton 1.5s linear infinite;
            }

            .mod__list__item__image {
                background: #eee;
            }

            .mod__list__item__info {
                // justify-content: space-between;
                .personal {
                    padding-right: 3rem;
                    .name {
                        background: #eee;
                        color: #eee;
                    }
                    .curp {
                        background: #eee;
                        color: #eee;
                    }
                }
                .contact {
                    gap: 2rem;
                    span {
                        background: #eee;
                        color: #eee;
                        border-radius: 5px;
                    }
                    .number {
                        width: 16rem;
                    }
                    .email {
                        width: 29rem;
                    }
                    .schedule {
                        width: 20rem;
                    }
                }

                .btn-download {
                    background: #eee;
                    color: #eee;
                    border-radius: 5px;
                    width: 10rem;
                    margin-left: 4rem;
                }
            }

            .mod__list__item__actions {
                button {
                    background: #eee;
                    color: #eee;
                    border-radius: 5px;
                    border: none;
                }
            }

            .mod__list__item__status {
                background: #eee;
                color: #eee;
                border-radius: 5px;
            }
        }
    }
}
