.login {
    height: 100vh;
    width: 100vw;
    background-color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 6rem;
    overflow-y: scroll;

    @include respond(phone) {
        padding: 3rem;
    }

    &__card {
        width: 100%;
        height: 100%;
        display: flex;
        background-color: #f5f5f5;
        box-shadow: 1px 1px 80px -20px $color_secondary;
        align-items: center;
        justify-content: center;

        &__svg {
            display: flex;
            width: 50%;
            height: 100%;
            background-color: $color_secondary;
            position: relative;
            align-items: flex-end;
            justify-content: center;
            overflow: hidden;
            img {
                height: 80%;
                transform: translateY(1rem);
            }
        }

        &__log {
            width: 50%;
            height: 100%;
            background-color: lighten($color_primary, 0);
            display: flex;
            flex-direction: column;
            padding: 0 5rem;
            justify-content: center;

            .title {
                display: flex;
                align-items: center;
                margin-bottom: 3rem;
                justify-content: space-between;
                h2 {
                    display: flex;

                    align-items: center;
                    font-size: 5rem;
                    font-weight: 300;
                }
                &__radio {
                    display: flex;
                    width: 50%;
                    height: 100%;
                    align-items: center;
                    justify-content: flex-end;

                    label {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40%;
                        height: 70%;
                        border-radius: 1rem;
                        margin-left: 2rem;
                        background-color: transparent;
                        border: 2px solid $color_secondary;
                        color: $color_secondary;
                        font-size: 2rem;
                        cursor: pointer;
                        position: relative;
                        overflow: hidden;
                        transition: all 0.5s ease;
                        padding: 2rem;
                        &.active {
                            background-color: $color-secondary;
                            color: white;
                            border: none;
                        }
                        input {
                            display: none;
                        }
                    }
                }
            }

            form {
                display: flex;
                flex-direction: column;
                .inputContainer {
                    padding: 0.7rem 1rem;
                    display: flex;
                    background-color: white;
                    align-items: center;
                    font-size: 2rem;
                    margin-bottom: 1.4rem;
                    border-radius: 1rem;
                    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
                    border: 1px solid transparent;
                    height: 4.3rem;

                    &.error {
                        border: 1px solid red;
                        box-shadow: 1px 1px 10px 1px rgba(230, 33, 33, 0.2);
                        transition: all 0.3s ease-in-out;
                    }
                    i {
                        width: 3%;
                    }

                    input,
                    p,
                    textarea,
                    .passwordContainer input {
                        width: 100%;
                        height: 100%;
                        border: none;
                        background-color: transparent;
                        font-size: 2rem;
                        font-weight: 300;
                        padding: 0 0.5rem;
                        margin-left: 1rem;
                        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
                    }
                    .passwordContainer {
                        input {
                            padding: 0 1.5rem;
                        }
                    }

                    input &.file {
                        cursor: pointer;
                    }
                }
            }
            .buttonsContainer {
                display: flex;
                justify-content: center;
                align-items: center;
                justify-content: space-between;
                margin-top: 1.7rem;

                button {
                    height: 4rem;
                    width: auto;
                    background-color: white;
                    font-size: 1.7rem;

                    border-color: $color_secondary;
                    color: $color_secondary;
                    border: none;
                    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
                    border-radius: 1rem;
                    font-weight: 600;
                    padding: 0 2rem;

                    &.create {
                        background-color: $color_secondary;
                        color: white;
                        opacity: 0.5;
                        cursor: not-allowed;

                        &.formikValid {
                            background-color: $color_secondary;
                            color: white;
                            cursor: pointer;
                            opacity: 1;
                        }
                    }
                }
            }
        }
        @include respond(phone) {
            &__svg {
                display: none;
            }
            &__log {
                width: 100%;
                form {
                    display: flex;
                    flex-direction: column;

                    .inputContainer {
                        i {
                            width: 8%;
                        }
                    }
                }

                .buttonsContainer {
                    justify-content: center;
                    button {
                        width: auto;
                        padding: 0 1rem;
                    }
                }
            }
        }
    }
}
