.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    &__card {
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f5f5f5;
        box-shadow: 1px 1px 80px -20px $color_secondary;
        position: relative;
        z-index: 1;

        align-items: center;
        justify-content: center;

        &__svg {
            display: flex;
            width: 50%;
            height: 100%;
            background-color: $color_secondary;
            position: relative;
            align-items: flex-end;
            justify-content: center;
            overflow: hidden;
            img {
                height: 80%;
                transform: translateY(1rem);
            }
        }

        &__log {
            width: 50%;
            height: 100%;
            background-color: lighten($color_primary, 0);
            display: flex;
            flex-direction: column;
            padding: 0 5rem;
            justify-content: center;
            h2 {
                display: flex;

                align-items: center;
                font-size: 5rem;
                font-weight: 300;
                margin-bottom: 3rem;
            }

            form {
                display: flex;
                flex-direction: column;

                .inputContainer {
                    padding: 1rem;
                    display: flex;
                    background-color: white;
                    align-items: center;

                    font-size: 2rem;
                    margin-bottom: 2rem;
                    border-radius: 1rem;
                    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
                    border: 1px solid transparent;
                    height: 5rem;
                    &.error {
                        border: 1px solid red;
                        box-shadow: 1px 1px 10px 1px rgba(230, 33, 33, 0.2);
                        transition: all 0.3s ease-in-out;
                    }
                    i {
                        width: 3%;
                    }

                    input,
                    p {
                        width: 100%;
                        height: 100%;
                        border: none;
                        background-color: transparent;
                        font-size: 2rem;
                        font-weight: 300;
                        padding: 0.5rem;
                        margin-left: 1rem;
                    }

                    &.file {
                        cursor: pointer;
                    }
                }
            }
            .buttonsContainer {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 2rem;
                justify-content: space-between;
                button {
                    height: 4rem;
                    width: auto;
                    background-color: white;
                    font-size: 1.7rem;

                    border-color: $color_secondary;
                    color: $color_secondary;
                    border: none;
                    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
                    border-radius: 1rem;
                    font-weight: 600;
                    padding: 0 2rem;

                    &.create {
                        background-color: $color_secondary;
                        color: white;
                        opacity: 0.5;
                        cursor: not-allowed;
                        
                        &.formikValid {
                            background-color: $color_secondary;
                            color: white;
                            cursor: pointer;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}
