.sidebar {
    height: 100%;
    width: 6%;
    background-color: $color-secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    gap: 5rem;
    &__logout {
        margin-top: auto;
        cursor: pointer;
    }
    &__seeUsers { 
        cursor: pointer;
    }
    &__chat {
        cursor: pointer;
    } 
    img {
        max-width: 5.5rem;
        margin-bottom: 3rem;
    }
    i {
        font-size: 2rem;
        color: white;
        margin-bottom: 2rem;
    }
}
