.sidebar {
    height: 100%;
    width: 6%;
    background-color: $color-secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    img {
        max-width: 5.5rem;
        margin-bottom: 3rem;
    }
    i {
        font-size: 2rem;
        color: white;
        margin-bottom: 2rem;
    }
}
